<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Quotes</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="container">
        <div class="mainheading">Welcome back !</div>
        <h4>Please enter login details below </h4>
        <form action="/login" method="post">
            <h3>Email address </h3>
            <input type="text" placeholder="email" name="email" required>
            <h3>Password</h3>
            <input type="password" placeholder="password" name="password" required>
            <br>
            <input class="submitbtn" type="submit" value="Login Account" name="Login Account">
        </form>
        <h4 id="secondh2">By signing in, you agree to the My Quotes <a href="#">Terms of Service</a> and <a
                href="#">Privacy Policy</a></h4>
        <h5>New in My Quotes ?</h5>
        <form action="/signup" method="get">
            <input class="submitbtn2" type="submit" value="Create Account" name="Signup Account">
        </form>
        <footer>
            <a href="#"> Terms of Service &nbsp; &nbsp; Privacy &nbsp; &nbsp; Help</a>
            <br>© 2025 My Quotes, Inc.
        </footer>
    </div>
</body>
</html>
